[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/trailing-whitespace"]
	path = vim/bundle/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/addon-mw-utils"]
	path = vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = untracked
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = git://github.com/vim-scripts/FuzzyFinder.git
	ignore = untracked
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = git://github.com/vim-scripts/L9.git
	ignore = untracked
[submodule "vim/bundle/xmledit"]
	path = vim/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
	ignore = untracked
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/stylus"]
	path = vim/bundle/stylus
	url = https://github.com/wavded/vim-stylus.git
[submodule "vim/bundle/javascript"]
	path = vim/bundle/javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/tcomment"]
	path = vim/bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "vim/bundle/autocomplpop"]
	path = vim/bundle/autocomplpop
	url = git://github.com/vim-scripts/AutoComplPop.git
	ignore = untracked
[submodule "vim/bundle/matchtag"]
	path = vim/bundle/matchtag
	url = git://github.com/gregsexton/MatchTag.git
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = git://github.com/othree/html5.vim.git
[submodule "vim/bundle/php"]
	path = vim/bundle/php
	url = git://github.com/StanAngeloff/php.vim.git
[submodule "vim/bundle/gundo"]
	path = vim/bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "vim/bundle/list-text-object"]
	path = vim/bundle/list-text-object
	url = git://github.com/jesseschalken/list-text-object.git
[submodule "vim/bundle/visualstar"]
	path = vim/bundle/visualstar
	url = git://github.com/thinca/vim-visualstar.git
	ignore = untracked
[submodule "vim/bundle/scriptease"]
	path = vim/bundle/scriptease
	url = git://github.com/tpope/vim-scriptease.git
[submodule "vim/bundle/todo"]
	path = vim/bundle/todo
	url = git://github.com/neochrome/todo.vim.git
[submodule "vim/bundle/phplocalvarcheck"]
	path = vim/bundle/phplocalvarcheck
	url = git://github.com/vim-scripts/php_localvarcheck.vim.git
