[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/trailing-whitespace"]
	path = vim/bundle/trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/tlib"]
	path = vim/bundle/tlib
	url = https://github.com/tomtom/tlib_vim.git
[submodule "vim/bundle/addon-mw-utils"]
	path = vim/bundle/addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = untracked
[submodule "vim/bundle/fuzzyfinder"]
	path = vim/bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
	ignore = untracked
[submodule "vim/bundle/L9"]
	path = vim/bundle/L9
	url = https://github.com/vim-scripts/L9.git
	ignore = untracked
[submodule "vim/bundle/xmledit"]
	path = vim/bundle/xmledit
	url = https://github.com/sukima/xmledit.git
	ignore = untracked
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/jshint"]
	path = vim/bundle/jshint
	url = https://github.com/manalang/jshint.vim.git
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/bundle/auto-pairs"]
	path = vim/bundle/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
