let g:snips_author = 'Martin Lundberg'
snippet fun
	function ${1:name}(${2}) {
		${3}
	}
snippet f
	function(${1}) {
		${2}
	}
snippet if
	if (${1:condition}) {
		${2}
	}
snippet elseif
	else if (${1:condition}) {
		${2}
	}
snippet else
	else {
		${1}
	}
snippet bbm
	Backbone.Model.extend({

		${1}

	});
snippet bbc
	Backbone.Collection.extend({

		${1}

	});
snippet bbv
	Backbone.View.extend({

		${1}

	});
snippet bbr
	Backbone.Router.extend({

		${1}

	});
