let g:snips_author = 'Martin Lundberg'
snippet class
	class ${1} extends ${2}
		${3}
snippet router
	class ${1} extends Backbone.Router
		${2}
snippet model
	class ${1} extends Backbone.Model
		${2}
snippet collection
	class ${1} extends Backbone.Collection
		${2}
snippet view
	class ${1} extends Backbone.View
		${2}
