snippet f "anonymous function" w
function($1) {
	$0
}$2
endsnippet

snippet f "function" !b
function ${1:name}($2) {
	$0
}$3
endsnippet

snippet if
if ($1) {
	${VISUAL}$0
}
endsnippet

snippet elseif
elseif ($1) {
	${VISUAL}$0
}
endsnippet

snippet else
else {
	$0
}
endsnippet

snippet for
for (var $1 in $2) {
	${VISUAL}$0
}
endsnippet

snippet cl
console.log($0)
endsnippet

snippet rq
var $1 = require('$2')
endsnippet
