extends html

snippet if
{if $1}
${VISUAL}$0
{/if}
endsnippet

snippet foreach
{foreach $1 as $2}
${VISUAL}$0
{/foreach}
endsnippet

snippet form
<form action="$1" method="$2">
	${VISUAL}$0
</form>
endsnippet
