snippet f
	function! ${1:Name}(${2:args})
		{VISUAL}${3}
	endfunction
snippet if
	if ${1:condition}
		{VISUAL}${2}
	endif
snippet while
	while ${1:condition}
		{VISUAL}${2}
	endwhile
snippet for
	for ${1:item} in ${2:list}
		{VISUAL}${3}
	endfor
