snippet class
class ${1:ClassName} {

	$0

}
endsnippet

snippet cotr
function __construct($1) {
	$0
}
endsnippet

snippet f
function ${1:functionName}($2) {
	$0
}
endsnippet

snippet if
if ($1) {
	${VISUAL}$2
}$0
endsnippet

snippet title "Title transformation"
${1:a text}
${1/\w+\s*/\u$0/}
endsnippet

snippet vd "var_dump"
var_dump(${VISUAL}$1);${2: exit;}
endsnippet
